.page-wrapper {
    padding: 2rem;
    background-color: rgb(235, 235, 235);
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.threads {
    background-color: #ffffff;
    border-radius: 5px;
    width: 35%;
    margin: 0.5rem;
}

h2 {
    padding: 0px 0px 0px 1rem;
}

.threads-body {
    padding: 0.5rem;
    background-color: rgb(235, 235, 235);
    margin: 10px;
    border-radius: 5px;
    height: calc(100% - 5.5rem);
}

.chat {
    background-color: #ffffff;
    border-radius: 5px;
    width: 65%;
    margin: 0.5rem;
}

.chat-body {
    padding: 0.5rem;
    background-color: rgb(235, 235, 235);
    margin: 10px;
    border-radius: 5px;
    height: calc(100% - 5.5rem);
    position: relative;
}

.chats {
    overflow-y: scroll;
    height: 85%;
}

::-webkit-scrollbar {
    display: none;
}

.message-sender {
    margin: 0px;
    font-weight: 600;
    font-size: small;
}

.message {
    background-color: lightgreen;
    margin: 5px 0px;
    width: fit-content;
    border-radius: 25px;
}

.message-content {
    padding: 10px 15px;
    margin: 0px;
}

.message-timestamp {
    margin: 0px;
    text-align: end;
    font-weight: 100;
    font-size: small;
}
