.page-wrapper {
    padding: 2rem;
    background: linear-gradient(
        100deg,
        rgba(230, 69, 155) 0%,
        rgba(121, 2, 240) 55%
    );
    height: 91vh;
    display: flex;
    flex-direction: column;
}

.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem -0.5rem 0 -0.5rem;
    flex: 1;
    max-height: 90%;
}

h2 {
    padding: 0px 0px 0px 1rem;
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}
